@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wannabe ETACC</h1>
    <p class="lead">It's not the real ETACC.  It just really wants to be ETACC!</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Wannabe ETACC</h2>
        <p>
            This the result of me fooling around with MVC and Entity Framework stuff so I can create the real new ETACC.
        </p>        
    </div>
    <div class="col-md-4">            
        <p><a class="btn btn-default" href="/Catalog">View Catalogs &raquo;</a></p>
    </div>
</div>